<div class="container mt-4">
  <h2 class="text-center mb-4">Products List</h2>

  <div *ngIf="products">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">price</th>
          <th scope="col">quantity</th>
          <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products._embedded.products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>

          <td>
            <a [href]="product._links.self.href" class="btn btn-info btn-sm">View Details</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!products" class="text-center">
    <p>Loading products...</p>
  </div>
</div>
